$block: '.wp-block-sensei-bonsai-gamification-my-bonsai-forest';

.sensei .entry-content #{$block},
.editor-styles-wrapper #{$block},
#{$block} {
	&__title,
	&__introduction {
		margin: 0 0 20px;
		padding: 0
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		&__item {
			flex: 1;
			margin: 10px;
			opacity: 0.4;
			text-align: center;

			&__label {
				margin: 0;
				padding: 0;
			}

			&--claimed {
				opacity: 1;
			}
		}
	}
}
